
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

@import "install-button.css";
@import "../js/lib/layouts/css/layouts.css";

@import "fonts.css";

/* Your styles here */
x-view > header, x-listview > header, x-view > footer, x-listview > footer {
    background: #c8483e;
    background: -moz-linear-gradient(top,  #c8483e 0%, #b3291f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8483e), color-stop(100%,#b3291f));
    background: -webkit-linear-gradient(top,  #c8483e 0%,#b3291f 100%);
    background: -o-linear-gradient(top,  #c8483e 0%,#b3291f 100%);
    background: -ms-linear-gradient(top,  #c8483e 0%,#b3291f 100%);
    background: linear-gradient(to bottom,  #c8483e 0%,#b3291f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8483e', endColorstr='#b3291f',GradientType=0 );
}

html, body {
    height: 100%;
}

body {
    font-family: 'MozTTLight', Verdana, sans-serif;
}

h1 {
    font: 2.2rem/4.8rem "Open Sans", Sans-serif;
}

x-view .contents {
    padding: 1em;
}

x-view.foo {
    background-color: #dddddd;
}

x-view .contents h1 {
    margin: 0;
}

x-listview.list li:before {
    content: ' ';
    display: inline-block;
    background: url("../img/icons.png") 0 0 no-repeat;
    margin-right: 15px;
    vertical-align: middle;
    width: 88px;
    height: 86px;
}

x-listview.list li.taurus:before {
    background-position: -88px 0;
}

x-listview.list li.gemini:before {
    background-position: 100% 0px;
}

x-listview.list li.cancer:before {
    background-position: 0 -86px;
}

x-listview.list li.leo:before {
    background-position: -88px -86px;
}

x-listview.list li.virgo:before {
    background-position: -88px 100%;
}

x-listview.list li.libra:before {
    background-position: 0 -171px;
}

x-listview.list li.scorpio:before {
    background-position: -89px -171px;
}

x-listview.list li.sagittarius:before {
    background-position: 100% -171px;
}

x-listview.list li.capricorn:before {
    background-position: 0 -256px;
}

x-listview.list li.aquarius:before {
    background-position: -88px -257px;
}

x-listview.list li.pisces:before {
    background-position: 100% -256px;
}
